.container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	height: 100%;
}

.content {
	background-color: #ccc;
	border-radius: 8px;
	max-width: 1024px;
	padding: 1.5rem;
	width: 100%;
}

.content h2 {
	margin: 0 0 1.5rem 0;
}

.content [data-list-container] {
	display: flex;
	row-gap: 1rem;
	flex-direction: column;
}
